version: '3'
services:
  backend:
    build:
      context: ../backend/avatar_assistant_api/
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - "APP_OPENAI_API_KEY=${APP_OPENAI_API_KEY}"
      - "APP_REPLICATE_API_TOKEN=${APP_REPLICATE_API_TOKEN}"
      - "APP_ELEVENLABS_API_KEY=${APP_ELEVENLABS_API_KEY}"
      - "APP_GCP_PROJECT_ID=${APP_GCP_PROJECT_ID}"
      - "APP_VERTEXAI_LOCATION=${APP_VERTEXAI_LOCATION}"
    depends_on:
      - redis
  redis:
    image: redis:latest
    hostname: redis
    command: redis-server --bind 0.0.0.0 --port 6379
  frontend:
    build:
      context: ../frontend/
      dockerfile: Dockerfile
    ports:
      - "4200:8080"